<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38223135218-98u82qvjsuoj0q74km5flpc9pd8i8qe2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38223135218-98u82qvjsuoj0q74km5flpc9pd8i8qe2</string>
	<key>API_KEY</key>
	<string>AIzaSyDw0C1z3GfvxjM_7mNftgMQt5HsL7GxC3w</string>
	<key>GCM_SENDER_ID</key>
	<string>38223135218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ddg.DynamicLinksExample</string>
	<key>PROJECT_ID</key>
	<string>dynamiclinksexample-a2192</string>
	<key>STORAGE_BUCKET</key>
	<string>dynamiclinksexample-a2192.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38223135218:ios:8534a0f909d680a296ab6b</string>
</dict>
</plist>